.book {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}

.book input {
  width: 94%;
  margin: 10.5px;
  padding: 5px 0;
}

.book input:nth-child(4) {
  width: 100%;
  margin: 15px 22px;
}

.book > * {
  width: 100%;
  text-align: center;
}

#delete-btn {
  color: red;
  cursor: pointer;
}

.order-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  cursor: pointer;
}

.order-btns > * {
  width: 10px;
  height: 1px;
  margin: 5px 10px;
}

.order-btns > *:hover {
  color: #ccc;
}

@media screen and (max-width: 1399px) {
  .book {
    width: 80%;
  }

  .order-btns {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .book {
    width: 100%;
  }

  .order-btns {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 760px) {
  .order-btns {
    flex-direction: row;
    height: 50px;
  }

  .order-btns > i:last-child {
    margin-top: -3px;
    margin-left: 2px;
  }
}