.book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.book:nth-child(even) {
  background-color: #ddd;
}

.book > * {
  width: 100%;
  text-align: center;
}

#delete-btn {
  color: red;
  cursor: pointer;
}